<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--数据库连接相关配置 hibernate-->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:33060/ywxt?characterEncoding=utf8</property>
        <property name="hibernate.connection.username">homestead</property>
        <property name="hibernate.connection.password">secret</property>
        <!-- 自动更新到数据库配置 -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping resource="hbm/User.hbm.xml"/>
        <mapping resource="hbm/AliAccount.hbm.xml"/>
    </session-factory>
</hibernate-configuration>