<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--数据库连接相关配置 hibernate-->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:33060/ywxt?characterEncoding=utf8</property>
        <property name="hibernate.connection.username">homestead</property>
        <property name="hibernate.connection.password">secret</property>
        <!--<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ywxt?characterEncoding=utf8</property>-->
        <!--<property name="hibernate.connection.username">ywxt</property>-->
        <!--<property name="hibernate.connection.password">ywxtywxthahaha</property>-->
        <!-- 输出sql -->
        <!--<property name="hibernate.show_sql">true</property>-->
        <!--<property name="hibernate.format_sql">true</property>-->
        <!-- 批量操作时 每100条提交一次 -->
        <property name="hibernate.jdbc.batch_size">100</property>
        <!-- 关闭二级缓存（批量操作） -->
        <property name="hiberante.cache.use_second_level_cache">false</property>
        <!-- 显示SQL语句，在控制台显示 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 格式化SQL语句 -->
        <property name="hibernate.format_sql">true</property>
        <!-- 自动更新到数据库配置 --><!-- 生成数据库的表结构
			update：如果没有表结构，创建表结构。如果存在，不会创建，添加数据
		-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 开启绑定本地的session -->
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="hbm/AliAccount.hbm.xml"/>
        <mapping resource="hbm/AliEcs.hbm.xml"/>
        <mapping resource="hbm/AliCdn.hbm.xml"/>
        <mapping resource="hbm/AliCdnTask.hbm.xml"/>
        <mapping resource="hbm/AwsAccount.hbm.xml"/>
        <mapping resource="hbm/AwsEc2.hbm.xml"/>
        <mapping resource="hbm/GodaddyAccount.hbm.xml"/>
        <mapping resource="hbm/GodaddyDomain.hbm.xml"/>
        <mapping resource="hbm/GodaddyCertifacate.hbm.xml"/>
        <mapping resource="hbm/ParameterIgnore.hbm.xml"/>
        <mapping resource="hbm/Message.hbm.xml"/>
        <mapping resource="hbm/Parameter.hbm.xml"/>
        <mapping resource="hbm/ResourceHardware.hbm.xml"/>
        <mapping class="com.ywxt.Domain.Log.LogOperation"/>
    </session-factory>
</hibernate-configuration>